@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto&display=swap');


.course-section{
    position: relative;
    top: 270px;
    left: 0;
    width: 100%;
    height: 750px;
}
.course-section .slant{
    width: 100%;
    height: 750px;
    background: #fdcb6e;
    position: relative;  
    transform: skewY(5deg);

}

.slant .content {
    transform: skewY(-5deg);

    /* display: flex;
    border: 1px solid #000; */
}
.slant .content .detail{
    width: 60%;
    /* border: 1px solid #000; */
    padding: 20px;
    padding-left:  70px;
}
.slant .content .detail h1{
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}
.slant .content .detail p{
    text-align: justify;
    font-size: 18px;
}
/* -------------- ADMISSION SECTION ------------ */
.slant .admission{
    width: 350px;
    transform: skewY(-5deg);
    position: absolute;
    top: -27%;
    z-index: 20;
    right: 6%;
    padding: 20px 18px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.7);
    background: #ffffff;
}
.admission h3{
    text-align: center;
    text-transform: uppercase;
}
.slant .admission .inputs{
    box-sizing: border-box;
    text-align: center;
}
.admission .inputs input, select, textarea{
    width: 100%;
    padding: 8px 5px;
    border-radius: 10px;
    border: 1px solid #868484;
    margin: 5px auto;
    outline: none;
}
#submitbtn{
    width: 100px;
    padding: 8px 15px;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    color: #fff;
    outline: none;
    background: linear-gradient(to right, #EC9F05, #FF4E00);
    text-transform: uppercase;
    cursor: pointer;
}
.courses{
    width: 100%;
    transform: skewY(-5deg);
    height: 400px;
    background: #fdcb6e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px 70px;
    /* border: 1px solid #000; */
    /* overflow: hidden; */
}
.courses .box{
    padding: 15px;
    text-align: center;
    transition: .5s;
    margin: 20px;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
.courses .box:hover{
    box-shadow: 5px 10px 30px rgba(0,0,0,0.7);
}
.courses .box p{
    text-align: justify;
    padding: 5px 5px;
}
.courses .box a{
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    transition: .5s;
    background: linear-gradient(to right, #EC9F05, #FF4E00);
}
.courses .box a:hover{
    transform: translateY(-10px);
}

/* ----------- MEDIA QUIRES ---------------- */

/* FOR MOBILE PHONES */

@media (min-width:320px) and (max-width:468px){
    .course-section{
        top:170px;
    }
    .admission{
        display: none;
    }
    .slant .content{
        display: block;
    }
    .slant .content .detail{
        width: 100%;
        padding: 0px;
        padding: 20px;
    }
    .slantdiv , .slant{
        height: 800px;
    }
    .courses{
        display: block;
        height: 900px;
        padding: 0;
        margin: 0;
    }
    .courses .box{
        width: 100%;
        margin: 20px 0px;
    }
}
@media (min-width:469px) and (max-width: 768px){
    .course-section{
        top:150px;
        height:850px;
    }
    .admission{
        display: none;
    }
    .slantdiv , .slant{
        height: 1200px;
        border: 1px solid #000;
    }
    .slant .content{
        display: block;
    }
    .slant .content .detail{
        width: 100%;
        padding: 0px;
        padding: 20px;
    }
    .courses{
        display: block;
        margin: 0;
        height: 600px;
        padding: 10px 40px;
    }
    .courses .box{
        margin: 0;
        padding: 0;
        margin: 8px;
        padding: 5px 8px;
    }
    .courses .box h3{
        font-size: 23px;
    }
    .courses .box p{
        text-align: center;
    }
    .courses .box a{
        padding: 5px 10px;
        
    }

}
@media (max-width:1024px){
    .courses{
        /* display: block; */
        height: 450px;
    }
}




