@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto&display=swap');

/* FONT FAMILES 
 font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    letter-spacing:0.5px;
    scroll-behavior: smooth;
}

/* sticky navbar */

header{
    position: fixed;
    top: 0;
    left: 0;
    padding:0 17px;
    width:100%;
    background: #000;
    box-sizing: border-box;
    transition: .5s;
    z-index: 100;
}
header .logo{
    height: 70px;
    line-height: 0px;
    float:left;
    display: flex;
}
header .logo img{
    height: 100%;
    transition: .5s;
}
header h2{
    color: #ffff;
    margin:0;
    text-transform: uppercase;
    float:left;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 70px;
    transition: .5s;
}
header nav{
    float:right;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
    position: relative;
}
header nav ul li.subMenu:before{
    content: '\f0dd';
    font-family: fontAwesome;
    line-height: 64px;
    color: #fff;
    position: absolute;
    right: 0px;
}
header nav ul li.active.subMenu:before{
    content: '\f0de';
    line-height: 75px;
}
header nav ul li ul{
    position: absolute;
    left:0;
    background:#333;
    display: none;   
}
header nav ul li.active ul{
    display: block;
}
header nav ul li ul li{
    display: block;
    width: 220px;
    transition: .5s;
}
header nav ul li ul li a{
    font-size: 14px;
}
header nav ul li a{
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: .5s;
}

header nav ul li a:visited{
    color: #fff;
    text-decoration: none;
}
header nav ul li a:hover{
    text-decoration: none;
    transition: .5s;
    background: linear-gradient(to right, #EC9F05, #FF4E00);
}
.menuToggle{
    color: #fff;
    float:right;
    line-height: 70px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* -------------- LANDING PAGE ----------------- */

.landingPage{
    position: relative;
    top: 70px;
    left:0;
    height: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
    /* display: flex; */
    overflow: hidden;
    box-sizing: border-box;
}
.landingPage .angleDiv{
    position: absolute;
    top: 0;
    left:0;
    height: 400px;
    width: 100%;
    display: flex;
    background:#f9ca24;
    color: #fff;
}
.angleDiv .content{
    width: calc(50% - 50px);
    height: 100%;
    background: #000;
    padding: 2% 4%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.landingPage .imgBox{
    width: calc(50% + 50px);
    height: 100%;
    background: #f9ca24;
    border-left: 100px solid #000;
    border-bottom: 400px solid transparent;
}
.angleDiv .content .tagLine{
    border: 1px solid #000;
}
.tagLine h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600px;
}
.tagLine p{
    text-align: left;
    text-transform: uppercase;
    margin: 15px auto;
    font-size: 20px;
    letter-spacing: 1px;

}
.tagLine a{
    text-align: justify;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 20px 0px;
    padding: 3% 8%;
    border-radius: 30px;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(to right, #EC9F05, #FF4E00);
}
.tagLine a:hover{
    transform: translateY(-12px);
}

/* -----------SLIDER --------- */
.imgBox .slider{
    width: 100%;
    height: 400px;
}

.carousel {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.carousel-inner{
    width: calc(100% - 37px);
    position: absolute;
    top: 0;
    right: 0;
    
}

.carousel-item img{
    width:200px;
    height: 250px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 30px #000;
}
.carousel-item h3{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color:#000;
    font-weight: 600;
    text-transform: uppercase;
}
.carousel-item p{
    margin: 0;
    padding: 0;
    color: #000;
    padding: 2px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.carousel-indicators {
    margin-right: 65px;
    margin-bottom: 1.5px;
    
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
}

/* -------------- DIRECTOR AREA ---------------- */

.directorSec{
    position: relative;
    width: 100%;
    top: 70px;
    left: 0;
    margin: 30px 0px;
    box-sizing: border-box;
}
.directorSec .heading{
    text-align: center;
    display: block;
    text-transform: uppercase;
}
.directorSec .heading h1{
    padding: 10px;
}
.directorSec .dirSection{
    display: flex;
    justify-content: center;
    padding: 30px 70px;
}
.dirSection .imgbox{
    width: 110rem;
    height:17rem;
    /* border: 1px solid #000; */
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    box-shadow: 0 10px 30px rgba(0,0,0,.7);
}
.dirSection .imgbox:hover img{
    transform: scale(1.09);
}
.dirSection .imgbox img{
    width: 90%;
    transition: .5s;
    height: 90%;
}
.dirSection .content{
    padding: 15px 5px;
    margin: 0 5px;
    text-align: justify;
}

.dirSection .content p{
    font-size: 18px;
}
.dirSection .content a{
    text-align: justify;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 15px 0px;
    padding: 6px 16px;
    border-radius: 30px;
    font-weight: 600px;
    transition: .5s;
    background: linear-gradient(to right, #EC9F05, #FF4E00);
}
.dirSection .content a:hover{
    transform:translateY(-12px);
}
/* ------------- END OF DIRECTOR AREA ---------- */

/* NEWS AND UPDATES SECTION */

.newsSection{
    position: relative;
    top: 45vh;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid #000; */
    /* background: red; */
}
.newsSection .newsArea{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    /* padding: 70px; */
}
/* ----------------- ACCORDION SECTION ----------- */
.wrapper{
    margin: 0;
    padding: 0;
    width:400px;
   /* border: 1px solid #000; */
    margin: 20px;
}
.wrapper h3{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-weight: 600;

}
.wrapper .accordion_wrap .accordion_header{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    background: #fdcb6e;
    /* border-top: 2px solid #fff; */
    color:#000;
    padding: 6px;
    font-weight: 800;
    /* border-bottom: ; */
    position: relative;
    cursor: pointer;
}
.wrapper .accordion_wrap .accordion_header h5{
    height: 38px;
    transition: all 0.5s ease;
    line-height: 38px;
}
.wrapper .accordion_wrap .accordion_header h5:hover{
    color: #000;
}
/* .wrapper .acordion_wrap:first-child .acordion_header */

.wrapper .accordion_wrap .accordion_header:hover{
    background: linear-gradient(to right, #EC9F05, #FF4E00);
}
.wrapper .accordion_wrap .accordion_header:hover h5{
    color: #ffff;
}
.wrapper .accordion_wrap .accordion_header:hover:before,
.wrapper .accordion_wrap .accordion_header:hover:after{
    background-color: #fff;
}

.wrapper .accordion_wrap .accordion_header:before,
.wrapper .accordion_wrap .accordion_header:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 2px;
    background: #000;
}
.wrapper .accordion_wrap .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}
.wrapper .accordion_wrap .accordion_body{
    width: 100%;
    height:0px;
    transition: all .5s ease;
    overflow: hidden;
}
.wrapper .accordion_wrap .accordion_body p{
    padding: 15px;
    font-size: 18px;
    text-align: justify;
    line-height: 22px;
}
.wrapper .accordion_wrap .accordion_header.active:after{
    transform: rotate(0);
}
.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
    height: 150px;
}
/* ---------------------/ ACCORDION SECTION --------------- */

/* ---------------------UPCOMING EVENTS SECTION ------------ */


.upcoming_box{
    /* border: 1px solid #000; */
    margin: 20px;
    padding: 15px;
    transition: all .5s ease;
}
.upcoming_box h3{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    /* border: 1px solid #000; */
    margin:8px auto;
    
}
.upcoming{
    /* border: 1px solid #000; */
    /* padding: 6px; */
    display: flex;
    margin: 10px auto;
    transition: .5s;
}
.upcoming .date{
    margin: 0;
    /* border: 1px solid #000; */
    font-size: 25px;
    cursor: pointer;
    padding: 8px;
    color: #fff;
    background: linear-gradient(to right, #EC9F05, #FF4E00);
    
}
.upcoming .date .month{
    font-size: 14px;
    /* border: 1px solid #000; */
}

.upcoming .detail{
    /* border: 1px solid #000; */
    font-size: 19px;
    margin: 0px 12px;
    /* width: 100%; */
    padding: 8px;
}
.upcoming_box:hover {
    /* background: #fdcb6e; */
    box-shadow: 5px 5px 15px #000;  
    border: none;
}



/* ----------------------/ UPCOMING EVENTS SECTION ------------ */


/* -----------------COUNTER SECTION ---------------------*/

.counting_section{
    /* border: 1px solid #000; */
    position: relative;
    top:60vh;
    left:0;
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.counting_section .slant{
    width: 100%;
    height: 600px;
    background: #000;
    position: relative;
    background: url(../image/counting_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    transform: skewY(-5deg);
}
.counting_section .slanted_div{
    height: 600px;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #000;
    opacity: 0.7;
}
.slanted_div .counting_area{
    transform: skewY(5deg);
    /* border: 2px solid red; */
    height: 485px;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counting_area .count_box {
    /* border: 1px solid #fff; */
    color:#fff;
    margin: 40px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
}
.counting_area .count_box span{
    /* height: 120px;
    width: 120px; */
    display: inline-block;
}
.counting_area .count_box span:before{
    margin:0;
    font-size: 90px;
    color:#fff;
}
.count_box h1{
    font-weight: 600;
}
.count_box p{
    font-size: 18px;
    letter-spacing: 2px;
}


/* -------------------/ COUNTER SECTION ----------------------- */

/* ------------------- LATEST NEWS SECTION ------------- */

.latest_news{
    border: 1px solid #000;
    margin: 15px;
    padding: 15px;
    width: 250px;
}




/* --------------------/LATEST NEWS SECTION ------------- */
/* / NEWS AND UPDATE SECTION */

/* ----------- MEDIA QUIRIES ---------------- */

/* FOR TABLETS, IPAD  */
@media (max-width:1024px){
    header{
        padding: 0 20px;
    }
    header .logo{
        height:70px;
    }
    header .logo h2{
        margin: 0 7px;
        line-height: 60px;
        font-weight: 600;
        font-size: 1.7rem;
        text-transform: uppercase;
    }
    .logo img{
        height: 100%;
    }
    header nav{
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100%-70px);
        background: #000;
        transition: .5s;
    }
    header nav.active{
        left:0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li{
        width: 100%;
        padding: 0;
    }
    header nav ul li a{
        display: block;
        height: 70px;
        padding: 4px 0px;
        line-height: 70px;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    header nav ul li.active ul{
        position: relative;
        background: #444444;
    }
    header nav ul li ul li{
        width: 100%;
    }
    .menuToggle{
        display: block;
        line-height: 60px;
    }
    .horizontal{
        display: none;
    }
}




/* ---------- MOBILE PHONES -------------------- */
@media (max-width: 768px){
     header{
        padding: 0 10px;
    }
    header .logo{
        height:60px;
    }
    header .logo h2{
        line-height: 60px;
        font-size: 1.4rem;
    }
    .logo img{
        height: 100%;
    }
    header nav{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100%-60px);
        background: #333;
        transition: .5s;
    }
    header nav.active{
        left:0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li{
        width: 100%;
        padding: 0;
    }
    header nav ul li a{
        display: block;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    header nav ul li.active ul{
        position: relative;
        background: #444444;
    }
    header nav ul li ul li{
        width: 100%;
    }
    .menuToggle{
        display: block;
        line-height: 60px;
    }

    /* -----RESPONSIVE LANDING PAGE --- */
    .landingPage{
        top: 60px;
        width: 100%;
        height:300px;
    }
    .landingPage .angleDiv .content {
        display: none;
    }
    .imgBox .slider{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: transparent;
    }
    .horizontal{
        display: none;
    }
    .carousel{
        height: 300px;
    }
    .carousel-item img{
        width:100px;
        height: 150px;
        margin: 8px;
        border-radius: 10px;
        box-shadow: 0 8px 30px #000;
    }

    /* --------------DIRECTOR AREA ------------ */
    
    .directorSec{
        margin-top: 0;
    }
    .directorSec .heading h1{
        font-size: 30px;
        padding: 15px 5px;
    }
    .directorSec .dirSection{
        display: block;
        text-align: center;
        padding: 5px 0px;
        margin: 10px 0;
        
    }
    .dirSection .imgbox{
        width:300px;
        height: 200px;
        margin: 0 auto;
    }
    .dirSection .imgbox img{
        height: 90%;
        width: 90%;
        border-top: 1px solid #fff;
    }
    .dirSection .content{
        padding: 15px;
        padding-top: 30px;
    }
}

/* FOR TBALET AND IPADS */
@media (min-width:469px) and (max-width:769px){
    .angleDiv .tagLine h1{
        font-size: 30px;
    }
    .angleDiv .tagLine p{
        font-size: 15px;
    }
    .tagLine a{
        margin: 15px 0px;
        padding: 3% 6%;
        font-size: 15px;
    }
    .carousel-item img{
        width:150px;
        height: 150px;
    }
    .carousel-control-next, .carousel-control-prev{
        height: 206px;
        width: 14px;
    }
    .newsSection{
        top: 20vh;
    }
}
@media (min-width:320px) and (max-width:468px){
    .newsSection{
        top:105vh;
        /* background-color:red; */
    }
    .newsSection .newsArea{
        display: block;
        width: 100%;
    }
    .newsSection .newsArea .wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
/* DESKTOP AND LAPTOPS */
@media (min-width:1024px){
    .horizontal{
        position: absolute;
        background: black;
        top: 30%;
        left: calc(50% - 44%);
        width: 100%;
        z-index: 50;
        height: 40px;
        transform: rotate(104deg);
    }
}