.panel,.flip
{
    padding:5px;
    text-align:center;
    background-color:#e5eecc;
    border:solid 1px #c3c3c3;
}
.flip:target .panel{
    display: block;
}
.panel
{
    padding:50px;
    display:none;
}